<footer class="footer border-top ">
  <div class="container h-100">
    <div class="h-100 text-center d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div class="d-flex gap-3">Follow Us:
        <a href="https://www.facebook.com/" target="_blank" class="social-link fb"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="social-link insta"><i
          class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/" target="_blank" class="social-link tw"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://youtube.com/" target="_blank" class="social-link yt"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <small>@2023 Satellite Sprint | All Rights Reserved</small>
    </div>
  </div>
</footer>
