.dropdown-button {
  background-color: transparent;
  border: none;
}

.dropdown-button:active {
  background-color: transparent;
  border: none;
}

.dropdown-menu {
  background-color: var(--sa-dark);
  border-color: #e7e7e7;
  border-radius: 4px !important;
  min-width: auto !important;
}

.dropdown-divider {
  border-color: #e7e7e7;
  opacity: 0.9;
}

.dropdown-item {
  color: white;
  font-weight: bold;
}

.dropdown-item {
  background-color: transparent;
}

.dropdown-item {
  cursor: pointer;
}
