<div class="about-us-body">
  <div class="about-us-hero-image-container"></div>
  <div class="bgimg">
  <div class="container">
    <div class="row gx-3 gy-4">
      <div class="col-12 col-md-8">
        <div class="about-us-section">
          <h3>About us</h3>
          <p>Welcome to our web application, your go-to source for all things related to satellites. We are passionate
            about providing accurate and up-to-date information about all the satellites orbiting the earth. Our mission
            is
            to make satellite information accessible to everyone. We believe that by providing detailed information
            about
            each satellite, we can help educate the public about the importance of these critical tools for
            communication,
            navigation, and scientific research.</p>
          <p> Our web application provides a wealth of information on each satellite,
            including its name, launch date, purpose, and orbit. We also include detailed technical specifications, such
            as
            its size, weight. In addition, we provide updates on any changes to a satellite's orbit or status, ensuring
            that
            our users have the latest information available. We are committed to providing a user-friendly experience,
            with
            a clean and intuitive interface that makes it easy to search for and find the information you need. Whether
            you
            are a student, researcher, or just someone interested in learning more about satellites, our web application
            is
            the perfect resource. Thank you for choosing our web application for your satellite information needs. We
            are
            dedicated to providing the best possible experience and will continue to work hard to improve and expand our
            offerings.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="about-us-section">
          <h3>Team Members</h3>
          <ul>
            <li>Rohit Pogaku</li>
            <li>Jyoshana Puchakayala</li>
            <li>Sanya Singh</li>
            <li>SaiRam Goud</li>
            <li>Sravan Routhu</li>
          </ul>
          <p>We are a five member team, who are dedicated to providing the most comprehensive information available. We
            understand the importance of accuracy when it comes to satellite data, and we work hard to ensure that all
            of
            our information is reliable and upto date.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-us-section">
          <h3>Different types of Satellites</h3>
          <ul>
            <li>Communication</li>
            <li>Research Based</li>
            <li>Student</li>
            <li>Earth Observation</li>
            <li>Weather Observation</li>
            <li>Natural Calamitiy Observation</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-us-section">
          <h3>Follow Us</h3>
          <div class="d-flex flex-column gap-3">
            <a href="" class="social-link fb"><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a href="" class="social-link insta"><i class="fa-brands fa-instagram"></i> Instagram</a>
            <a href="" class="social-link tw"><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href="" class="social-link yt"><i class="fa-brands fa-youtube"></i> YouTube</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-us-section">
          <h3>Our Programs</h3>
          <ul>
            <li>Research Based Programs</li>
            <li>School Programs </li>
            <li>Earth Observation Programs</li>
            <li>All about satellites</li>
            <li>DeepTech Satellite</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
