<div class="container">
  <h1 class="display-5 fw-normal text-center">About Us</h1>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium adipisci commodi
    cupiditate
    delectus
    deleniti ex fugiat illum, inventore itaque magnam necessitatibus perspiciatis, placeat praesentium repellendus
    tempore
    tenetur velit veritatis?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fuga id in nisi reiciendis reprehenderit tenetur
    totam voluptate! Accusamus aspernatur necessitatibus numquam soluta voluptatum. Culpa deleniti, soluta? Consequatur,
    dolore error et ex id impedit itaque iusto labore non praesentium provident quam quas quos saepe sapiente sed sit
    ullam veritatis vero voluptates. A aspernatur autem consequatur corporis culpa delectus deleniti dicta dignissimos
    earum, eius fuga fugiat id illo illum inventore laboriosam laborum magnam minima modi molestias natus nihil, nobis,
    placeat quae quidem quis quisquam quo repellendus saepe sed soluta unde veniam voluptate? At delectus earum iste
    iusto, molestias nisi nulla quibusdam quidem, quis quos reiciendis veritatis vero, voluptate! Amet delectus
    deserunt, doloribus enim harum quasi qui quidem quis. </p>
</div>
