.logo {
  position: absolute;
  top: 6px;
  left: 15px;
  height: 60px;
  width: 180px;
}

.bi-list {
  color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  text-shadow: 0 0 1px black;
  color: #ffffff;
}

#login-btn,
#register-btn {
  width: 100px;
}

.active {
  font-weight: bold;
  color: var(--bs-info) !important;
  text-decoration: underline;
  text-underline-offset: 10px;
}


.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0 auto;
  }
}
