.card {
  height: 320px;
  width: 380px;
  margin-top: 90px;
  margin-left: 50px;
}

h2 {
  margin-bottom: -35px;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.card-title {
  font-size: 24px;
}

video {
  height: 320px;
  width: 720px;
}


/*#myVideo {*/
/*  position: fixed;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  min-width: 100%;*/
/*  min-height: 100%;*/
/*}*/
.nav-margin-placeholder {
  height: 8vh;
}
