<div class="bgimg">
<div class="Container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/zsJpUCWfyPE" class="card-img-top" alt=""></iframe>
          <div class="card-body">
            <h2 class="card-title">Satellite Launch</h2>
            <p class="card-text">NASA STS-129</p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/p1_UVSCm-wc" class="card-img-top" alt=""></iframe>
          <div class="card-body">
            <h2 class="card-title">Revolution</h2>
            <p class="card-text">Aroung Earth/p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/BvjlBpP4zU8 " class="card-img-top" alt=""></iframe>
          <div class="card-body">
            <h2 class="card-title">Different Orbits</h2>
            <p class="card-text">Earth</p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/H-gaSnxP60A" class="card-img-top" alt=""></iframe>
          <div class="card-body">
            <h2 class="card-title">Geostationery, Geosynchronous, Polar</h2>
            <p class="card-text">Orbits/p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      <video autoplay muted loop id="myVideo">
        <source src="/assets/images/satellite.mp4" type="video/mp4">
      </video> 
    </div>
  </div>
</div>
