<div class="nav-margin-placeholder"></div>
<div class="container">
  <h2 class="display-4 text-center">Gallery</h2>
  <div class="row align-items-center mb-5">
    <div class="col col-md-6 col-xl-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/zsJpUCWfyPE" class="card-img-top" alt=""></iframe>
        <div class="card-body">
          <h2 class="card-title">Satellite Launch | NASA STS-129</h2>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-xl-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/p1_UVSCm-wc" class="card-img-top" alt=""></iframe>
        <div class="card-body">
          <h2 class="card-title">Revolution Around Earth</h2>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-xl-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/BvjlBpP4zU8 " class="card-img-top" alt=""></iframe>
        <div class="card-body">
          <h2 class="card-title">Different Orbits of Earth</h2>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-xl-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/H-gaSnxP60A" class="card-img-top" alt=""></iframe>
        <div class="card-body">
          <h2 class="card-title">Geostationary, Geosynchronous & Polar Orbits</h2>
        </div>
      </div>
    </div>
    <div class="col col-xl-8 align-self-end">
      <video autoplay muted loop id="myVideo">
        <source src="/assets/images/satellite.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<app-abovefooter></app-abovefooter>
