.nav-margin-placeholder {
  height: 5vh;
}

.container {
  /*max-width: 80%;*/
}

.content {
  /* height: auto; */
  min-height: 50vh;
  resize: none;
}

.error-spans {
  height: 22px;
  margin-bottom: 2px;
}


.card {
  margin: 0 auto;
  border-color: var(--sa-light);
  color: whitesmoke;
}

.card-header {
  background-color: #bbd3f5;
  color: var(--sa-dark);
  text-shadow: 3px 3px 3px #525252;
  border-color: var(--sa-light);
}

.card-body {
  background-color: var(--sa-light);
}

input,
textarea,
input:focus,
textarea:active {
  background-color: var(--sa-dark) !important;
  border-color: var(--sa-dark);
  color: white !important;
}

::placeholder {
  color: ghostwhite;
  opacity: 0.3;
}

@media screen  and (min-width: 767px) {
  .card {
    max-width: 80%;
  }
}
