tr {
  cursor: pointer;
}

.table-responsive {
  min-height: 300px;
}

table {
  margin-bottom: 0;
  background-color: #20262e !important;
}

.add-button {
  height: 40px;
  margin-top: 0;
  border-top: 1px solid var(--bs-secondary);
  border-bottom: 1px solid var(--bs-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  border-color: var(--bs-success);
  border-width: 2px;
  cursor: pointer;
  background-color: white;
}

.add-button:hover > .bi-plus {
  transform: scale(1.15);
  color: black;
  transition: transform 0.2s ease-in-out;
}
