<div class="belowcontent">
    <div class="d-flex">
     <div class="one" style="margin-left: 10px;">
     <h3>Links</h3><br>
     <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Satellites</a><br>
     <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Already have an account</a><br>
     <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Want to expore data</a>
     </div>
     <div class="two" style="margin-left: 700px;">
       <h3>Contact Us</h3><br>
       <p>Satellite Sprint, TalentSprint, Hyderabad</p>
       <a class="nav-link" [routerLink]="['/message']" [routerLinkActive]="['active']">send us a message!</a><br>
       <p><i class="fas fa-phone"></i> +91-9283514256</p>
       </div>
    </div>
    </div>
