<div class="container py-3 mb-2 belowcontent">
  <div class="d-flex flex-column justify-content-center flex-md-row gap-4 contact-block">
    <!--    <div class="one">-->
    <!--      <h3>Links</h3>-->
    <!--      <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Satellites</a><br>-->
    <!--      <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Already have an account</a><br>-->
    <!--      <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Want to expore data</a>-->
    <!--    </div>-->
    <div class="two text-center">
      <h3 class="display-4 text-center">Contact Us</h3>
      <p>Satellite Sprint, Hyderabad</p>
      <div class="btn btn-outline-light" [routerLink]="['/message']" [routerLinkActive]="['active']">Send Us a
        Message!
      </div>
      <!--      <p><i class="fas fa-phone"></i> +91-9283514256</p>-->
    </div>
  </div>
</div>
