.nav-margin-placeholder {
  height: 8vh;
}

.container {
  border-radius: 8px;
  padding: 4vh 2vw;
  background-color: var(--sa-light);
}

.post-grid-container {
  /*margin-top: 10vh;*/
  margin-bottom: 8vh;
}

.dropdown-toggle {
  background-color: var(--sa-dark);
  border-color: var(--sa-dark);
  box-shadow: 0 0 10px #1f252d;
}

.dropdown-item {
  cursor: pointer;
}

.sorted-by {
  font-weight: bold;
  color: #3e5efb;
}

.post-grid {
  /*margin-top: 8px;*/
}

.post-container {
  padding: 10px 15px;
}

.post-container:hover {
  transform: scale(1.005);
  box-shadow: 2px 2px 10px #1f252d;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.content, .title {
  display: -webkit-box; /* Set the display to a box layout */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Show ellipsis (...) for any overflow content */
}

.content {
  color: #e7e7e7;
  opacity: 0.8;
  -webkit-line-clamp: 4; /* Limit the text to 4 lines */
}

.title {
  color: whitesmoke;
  margin-top: 7px;
  -webkit-line-clamp: 1; /* Limit the text to 4 lines */
}


.orange-border {
  border-top: 4px solid #d46213;
}

.pink-border {
  border-top: 4px solid #c93d82;
}

.blue-border {
  border-top: 4px solid #326fd1;
}

.yellow-border {
  border-top: 4px solid #ffe300;
}
