.nav-margin-placeholder {
  height: 8vh;
}

p, .card-title {
  display: -webkit-box; /* Set the display to a box layout */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Show ellipsis (...) for any overflow content */
}

p {
  -webkit-line-clamp: 4; /* Limit the text to 4 lines */
}

.card-title {
  -webkit-line-clamp: 1; /* Limit the text to 4 lines */
}

.card {
  min-width: 200px;

  cursor: pointer;
}
