<p class="display-5 text-center ">Community</p>
<div class="w-75 mx-auto border-bottom mb-5"></div>
<div *ngIf="posts" class="container">
  <div class="row gap-4">
    <div *ngFor="let post of posts" class="col">
      <div class="card border-dark mb-3" [routerLink]="['/posts', post.id]">
        <div class="card-header">{{post.author}}</div>
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
