p {
  display: -webkit-box; /* Set the display to a box layout */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Show ellipsis (...) for any overflow content */
  -webkit-line-clamp: 4; /* Limit the text to 4 lines */
}

.card {
  background-color: var(--sa-light);
  color: whitesmoke;
  min-width: 200px;
}

.bi-arrow-right {
  margin-left: 5px;
}

.view-link {
  text-decoration: none;
}

.view-link:hover .bi-arrow-right {
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}

.satellite-image {
  height: 200px;
}
