
  

  

  <!-- crousel page -->
  
  
  
<div class="background_image_section">
<h3>HOME PAGE</h3>
<div class="d-flex">
<div class="card1" style="width: 18rem;margin: auto;">
    <img src="assets/nasalogo.jpg" class="card-img-top" alt="nasalogo">
    <div class="card-body">
      <h5 class="card-title">NASA</h5>
      <p class="card-text">(National Aeronautics and Space Administration)</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card2" style="width: 18rem;margin: auto;">
    <img src="assets/isrologo.png" class="card-img-top" alt="isrologo">
    <div class="card-body">
      <h5 class="card-title">ISRO</h5>
      <p class="card-text">(Indian Space Research Organisation)</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card3" style="width: 18rem;margin: auto;">
    <img src="assets/spacexlogo.png" class="card-img-top" alt="spacexlogo">
    <div class="card-body">
      <h5 class="card-title">SPACEX</h5>
      <p class="card-text">(Space Exploration Technologies Corporation)</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
  <br>
  <div class="d-flex">
  <div class="card4" style="width: 18rem; margin: auto;">
    <img src="assets/roscosmoslogo.png" class="card-img-top" alt="russianlogo">
    <div class="card-body">
      <h5 class="card-title">ROSKOSMOS</h5>
      <p class="card-text">(Russian Federal Space Agency)</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card5" style="width: 18rem;margin: auto;">
    <img src="assets/cnsalogo.jpg" class="card-img-top" alt="chinalogo">
    <div class="card-body">
      <h5 class="card-title">CNSA</h5>
      <p class="card-text">(China National Space Administration)</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>









