<div class="nav-margin-placeholder"></div>
<div class="profile-card card">
  <div class="card-body">
    <div class="text-center"><i class="bi bi-person-fill display-2"></i></div>
    <h2 class="text-center mb-0">{{user.firstname}} {{user.lastname}}</h2>
    <div class="text-center text-white-50 fs-3">{{user.role}}</div>
    <hr>
    <div><span class="fw-bold">Email:</span> {{user.email}}</div>
    <div><span class="fw-bold">Gender:</span> {{user.gender}}</div>
    <div><span class="fw-bold">Country:</span> {{user.country}}</div>
  </div>
</div>
