<!--<body>
<div class="box">
<span class="borderLine"></span>
<form #registerform="ngForm" (ngSubmit)="submitForm(registerform.value)"  novalidate>
<h2>Create an Account</h2>
<div class="inputBox">
<input type="text" name="firstName" #firstName="ngModel" ngModel required maxlength="10">
<div *ngIf="firstName.errors?.['required'] && firstName.touched">Enter your first name</div>
<div *ngIf="firstName.errors?.['maxlength'] && firstName.touched">Please enter characters having maxlength 10</div>
<span>First Name</span>
<i></i>
</div>
<br>
<div class="inputBox">
<input type="text" name="lastName" #lastName="ngModel" ngModel maxlength="10">
<span>Last Name</span>
<i></i>
</div>
<br>
<div class="inputBox">
<div class="d-flex" id="Gender">
<span>Gender</span>
<i></i>
Male:<input type="radio" name="gender" value="male">
Female:<input type="radio" name="gender" value="female">
Other:<input type="radio" name="gender" value="other">
</div>
</div>
<br>
<div class="inputBox">
<input type="email"  name="email" #email="ngModel" ngModel required>
<div *ngIf="email.errors?.['required'] && email.touched">Enter valid email id</div>
<span>Email ID</span>
<i></i>
</div>
<br>
<div class="inputBox">
<input type="password" name="password" #password="ngModel" ngModel required>
<span>Password</span>
<i></i>
</div>
<br>
<div class="inputBox">
<span>Country</span>
<i></i>
<select ngModel name="countryname" #countryname="ngModel" ngModel required>
<div *ngIf="countryname.errors?.['required'] && countryname.touched">Choose any one of the given options</div>
<option *ngFor="let countryname of allcountries" name="alpha2Code">{{countryname.name}}</option></select>
</div>
<br>
<div class="inputBox">
<span>Profile</span>
<i></i>
<select ngModel name="profile" #profile="ngModel" ngModel required>
<option value="">--Select</option>
<option value="Admin">Admin</option>
<option value="Student">Student</option>
<option value="Researcher">Researcher</option>
<option value="Scientist">Scientist</option>
</select>
</div>
<br>
<div class="d-flex">
<div class="links">
<a [routerLink]="['/login']">Already a user ?</a>
</div>
<input type="submit" value="Register">
</div>
</form>
</div>
</body>-->


<body>
<div class="box">
  <span class="borderLine"></span>

  <form #registerform="ngForm" (ngSubmit)="submitForm(registerform.value)" novalidate>
    <h2>Create an Account</h2>

    <div class="inputBox">
      <span>First Name</span>
      <i></i>
      <input type="text" name="firstname" #firstname="ngModel" ngModel required maxlength="10">
      <div *ngIf="firstname.errors?.['required'] && firstname.touched" id="error">Enter your first name</div>
      <div *ngIf="firstname.errors?.['maxlength'] && firstname.touched" id="error">Please enter characters having
        maxlength 10
      </div>
    </div>

    <br>
    <div class="inputBox">
      <span>Last Name</span>
      <i></i>
      <input type="text" name="lastname" #lastname="ngModel" ngModel maxlength="10">
    </div>
    <br>

    <div class="inputBox">
      <div class="d-flex" id="gender">
        <span>Gender</span>
        <i></i>

        <select id="selectgender" ngModel name="gender" #gender="ngModel" ngModel required style="margin-left: 12px;">
          <option value="">--Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <br>

    <div class="inputBox">
      <div class="d-flex">
        <span>Country</span>
        <i></i>
        <select id="selectcountry" ngModel name="country" #country="ngModel" ngModel required>
          <div *ngIf="country.errors?.['required'] && country.touched" id="error">Choose any one of the given options
          </div>
          <option *ngFor="let country of allcountries" name="alpha2Code">{{country.name}}</option>
        </select>
      </div>
    </div>

    <br>
    <div class="inputBox">
      <span>Email ID</span>
      <i></i>
      <input type="email" name="email" #email="ngModel" ngModel required>
      <div *ngIf="email.errors?.['required'] && email.touched" id="error">Enter valid email id</div>
    </div>
    <br>

    <div class="inputBox">
      <span>Password</span>
      <i></i>
      <input type="password" name="password" #password="ngModel" ngModel required>
      <div *ngIf="password.errors?.['required'] && password.touched" id="error">Enter your password</div>
      <div *ngIf="password.errors?.['minlength'] && password.touched" id="error">Please enter a password with a minimum
        length of 4 characters
      </div>
      <div *ngIf="password.errors?.['maxlength'] && password.touched" id="error">Please enter a password with a maximum
        length of 8 characters
      </div>
    </div>
    <br>


    <div class="inputBox ">
      <span>Role</span>
      <i></i>
      <select ngModel name="role" #role="ngModel" ngModel required>
        <option value="">--Select</option>
        <option value="Student">Student</option>
        <!--        <option [disabled]="true" value="Scientist">Scientist</option>-->
      </select>
    </div>
    <br>

    <div
      class="d-flex flex-column align-items-center gap-4 flex-md-row justify-content-md-between align-items-md-baseline">
      <div>
        <input type="submit" value="Register"></div>
      <div><span class="me-1">Already a user?</span>
        <a [routerLink]="['/login']">Login</a>
      </div>
    </div>

  </form>
</div>
<p-toast></p-toast>
</body>
